.modal-dialog {
  .modal-content {
    color: white;
    background: #191c24;
    border: 0.5px solid #ffffff26;
    .modal-header {
      border-bottom: 0.5px solid #ffffff26;
    }
    .modal-footer {
      border-top: 0.5px solid #ffffff26;
    }
  }
}
