.page-main {
  .main-content {
    display: flex;
    width: 100%;
  }
  .side-bar {
    background-color: #191c24;
    min-height: calc(100vh - 70px);
    overflow: hidden;
    ul {
      padding: 40px 0 40px;
      display: flex;
      flex-direction: column;
    }
    .nav-item {
      width: 240px;
      min-height: 100%;
      color: white;
      font-size: 16px;
      padding: 11px 0 11px 20px;
      position: relative;
      &.active {
        background-color: #38425e;
        &::after {
          content: "";
          position: absolute;
          border-left: 10px solid #f2af32;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0px;
        }
      }
      &:hover {
        background-color: #38425e;
        cursor: pointer;
      }
    }
  }
  .content-right {
    flex: 1;
    padding: 40px 20px 20px;
    width: 100%;
    background-color: #000000;
  }
  .card-modify {
    background-color: #191c24;
    .table-dark  {
      margin-bottom: 0;
    }
  }
}
.btn-outline-primary {
  border-color: #f2af32 !important;
  color: #f2af32 !important;
  &:hover {
    background-color: #f2af32 !important;
    color: white !important;
  }
}
