.page-header {
  background-color: #38425e;
  .container-custom {
    padding: 10px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .logo {
    color: #F2AF32;
    text-decoration: none;
  }
}
